body {
    padding-top: 5rem;
}

a{
    color:#5ebcd1;
}


a:hover{
    color: #3ab0d1;
}


/*.spendingBoxes a{*/
/*    width:33%;*/
/*    color:#212529;*/
/*    -moz-transition: all .2s ease-in;*/
/*    -o-transition: all .2s ease-in;*/
/*    -webkit-transition: all .2s ease-in;*/
/*    transition: all .2s ease-in;*/
/*    padding-top:15px;*/
/*}*/

/*.spendingBoxes a:hover{*/
/*    text-decoration: none;*/
/*    color:#212529;*/
/*    background: #eee;*/
/*}*/