body {
    padding-top: 5rem;
}

a{color:#5ebcd1;}
a:hover{color: #3ab0d1;}


.btn-primary{background-color:#5ebcd1; border-color: #5ebcd1;}
.btn-primary:hover{background-color:#3ab0d1; border-color: #3ab0d1;}

.btn-secondary{background-color:#d9d9d9; border-color: #d9d9d9; color: slategray;}
.btn-secondary:hover{background-color: #7ca7cf; border-color: #7CA7CF;}


.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}


.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
}


/*a3c2cf*/
/*.spendingBoxes a{*/
/*    width:33%;*/
/*    color:#212529;*/
/*    -moz-transition: all .2s ease-in;*/
/*    -o-transition: all .2s ease-in;*/
/*    -webkit-transition: all .2s ease-in;*/
/*    transition: all .2s ease-in;*/
/*    padding-top:15px;*/
/*}*/

/*.spendingBoxes a:hover{*/
/*    text-decoration: none;*/
/*    color:#212529;*/
/*    background: #eee;*/
/*}*/