<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" th:with="currentPage='settings'">
<head>
    <title>Your spending ~ Privacy Champions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
</head>
<body>
<main class="container" layout:fragment="main">

    <h2>Privacy</h2>
    <br />
    <p>Your privacy is important. Choose what information each person can access.</p>
    <p>By selecting a box you are providing consent for whom each data type may be shared with. Consent may be revoked at any point by un-selecting a box.</p>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="30%">Data Type</th>
            <th scope="col">Healthy Spending App</th>
            <th scope="col">
                <input class="form-control form-control-sm" type="text" placeholder="Email of Support person">
            </th>
            <th scope="col">Financial service provider</th>
            <th scope="col">Other</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Time of spending</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-11" checked="">
                    <label class="custom-control-label" for="checkbox-11"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-12">
                    <label class="custom-control-label" for="checkbox-12"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-13">
                    <label class="custom-control-label" for="checkbox-13"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-14">
                    <label class="custom-control-label" for="checkbox-14"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Type of spending</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-21" checked="">
                    <label class="custom-control-label" for="checkbox-21"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-22" checked="">
                    <label class="custom-control-label" for="checkbox-22"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-23">
                    <label class="custom-control-label" for="checkbox-23"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-24">
                    <label class="custom-control-label" for="checkbox-24"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Notify if over spending on gambling over 15% of income per month</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-31" checked="">
                    <label class="custom-control-label" for="checkbox-31"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-32">
                    <label class="custom-control-label" for="checkbox-32"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-33" >
                    <label class="custom-control-label" for="checkbox-33"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-34" >
                    <label class="custom-control-label" for="checkbox-34"></label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr />



    <div class="container">
        <div class="row ">
            <div class="col-sm-3">
                <div class="custom-control custom-checkbox checkbox-lg" style="float:left;">
                    <input type="checkbox" class="custom-control-input" id="checkbox-222" checked="" >
                    <label class="custom-control-label" for="checkbox-222">I consent to the above:</label>
                </div>
            </div>
            <div class="col-sm-9">
                <canvas style=" border:1px solid black;" width="300" height="150" id="canvas" class="canvas"></canvas>
                <button type="button" class="btn btn-primary clearButton btn-sm" id="clearButton" style="margin-top:-22px;">Clear</button>
            </div>
    </div>




    <script>

        clearButton.addEventListener("click", function (event) {
            signaturePad.clear();
            return false;
        });

        var canvas = document.querySelector("canvas");

        var signaturePad = new SignaturePad(canvas);

        // Returns signature image as data URL (see https://mdn.io/todataurl for the list of possible parameters)
        signaturePad.toDataURL(); // save image as PNG
        signaturePad.toDataURL("image/jpeg"); // save image as JPEG
        signaturePad.toDataURL("image/svg+xml"); // save image as SVG



        // Returns signature image as an array of point groups
        const data = signaturePad.toData();

        // Draws signature image from an array of point groups
        signaturePad.fromData(data);

        // Clears the canvas
        signaturePad.clear();

        // Returns true if canvas is empty, otherwise returns false
        signaturePad.isEmpty();

        // Unbinds all event handlers
        signaturePad.off();

        // Rebinds all event handlers
        signaturePad.on();
    </script>
</main>
</body>
</html>