<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" th:with="currentPage='settings'">
<head>
    <title>Your spending ~ Privacy Champions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
<main class="container" layout:fragment="main">

    <h2>Privacy</h2>
    <br />
    <p>Your privacy is important. Choose what information each person can access.</p>
    <p>By selecting a box you are providing consent for whom each data type may be shared with. Consent may be revoked at any point by un-selecting a box.</p>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="30%">Data Type</th>
            <th scope="col">Healthy Spending App</th>
            <th scope="col">
                <input class="form-control form-control-sm" type="text" placeholder="Email of Support person">
            </th>
            <th scope="col">Financial service provider</th>
            <th scope="col">Other</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Time of spending</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-11" checked="">
                    <label class="custom-control-label" for="checkbox-11"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-12">
                    <label class="custom-control-label" for="checkbox-12"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-13">
                    <label class="custom-control-label" for="checkbox-13"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-14">
                    <label class="custom-control-label" for="checkbox-14"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Type of spending</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-21" checked="">
                    <label class="custom-control-label" for="checkbox-21"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-22" checked="">
                    <label class="custom-control-label" for="checkbox-22"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-23">
                    <label class="custom-control-label" for="checkbox-23"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-24">
                    <label class="custom-control-label" for="checkbox-24"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Notify if over spending on gambling over 15% of income per month</th>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-31" checked="">
                    <label class="custom-control-label" for="checkbox-31"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-32">
                    <label class="custom-control-label" for="checkbox-32"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-33" >
                    <label class="custom-control-label" for="checkbox-33"></label>
                </div>
            </td>
            <td style="text-align: center">
                <div class="custom-control custom-checkbox checkbox-l">
                    <input type="checkbox" class="custom-control-input" id="checkbox-34" >
                    <label class="custom-control-label" for="checkbox-34"></label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>



</main>
</body>
</html>