<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" th:with="currentPage='spendingpatterns'">
<head>
    <title>Spending Patterns ~ Privacy Champions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
<main class="container" layout:fragment="main" th:with="items = ${ {'Home', 'Spending Patterns'} }">
    <div th:replace="fragments/breadcrumb :: breadcrumb(items = ${items}, currentPage = 'Spending Patterns')">...</div>

    <h2>Spending patterns</h2>
<p>The positive spending gauge gives you an overall picture of your financial health. It’s made up of three key influencers: Your budget, your spending habits and your financial assets. </p>
<br />

    <h3>Positive spending gauge</h3>
    <div class="progress" style="height:2rem">

        <div class="progress-bar success progress-bar-striped" role="progressbar"  th:style="' background-color:#5DBCD2; width: '+@{${greenValue}}+'%'" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
<br />
<br />

    <h3>Key Influencers</h3>

    <div class="container" style="text-align:center;">
        <div class="row spendingBoxes" style="padding-top:40px;">
            <div class="col-sm">
                <svg class="bi bi-credit-card" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 5H4a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V6a1 1 0 00-1-1zM4 4a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2H4z" clip-rule="evenodd"></path>
                    <rect width="3" height="3" x="4" y="11" rx="1"></rect>
                    <path d="M3 7h14v2H3z"></path>
                </svg>
                <h4>Budget</h4>
                <br />
                <p>How much you make versus how much you spend.</p><p>Seeing where your money is going can help you stay on top of your finances. </p>
                <ul style="text-align:left; padding-left:70px">
                    <li><a th:href="@{/spendingpatterns/totalSpending}">Total Spending per Month</a></li>
                    <li><a href="#">Budgeting best practices</a></li>
                </ul>

            </div>
            <div class="col-sm">
                <svg class="bi bi-watch" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 16.333v-1.86A5.985 5.985 0 014 10c0-1.777.772-3.374 2-4.472V3.667C6 2.747 6.746 2 7.667 2h4.666C13.253 2 14 2.746 14 3.667v1.86A5.985 5.985 0 0116 10a5.985 5.985 0 01-2 4.472v1.861c0 .92-.746 1.667-1.667 1.667H7.667C6.747 18 6 17.254 6 16.333zM15 10a5 5 0 10-10 0 5 5 0 0010 0z" clip-rule="evenodd"></path>
                    <rect width="1" height="2" x="15.5" y="9" rx=".5"></rect>
                    <path fill-rule="evenodd" d="M10 6.5a.5.5 0 01.5.5v3a.5.5 0 01-.5.5H8a.5.5 0 010-1h1.5V7a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                </svg>
                <h4>Spending habits</h4>
                <br />
                <p>When, where and how you spend your money.</p><p>You can learn a lot about your well-being by looking at your spending patterns.
                </p>
                <ul style="text-align:left; padding-left:70px">
                    <li><a th:href="@{/spendingpatterns/habitsbyday}">Amount of spending by time of day</a></li>
                    <li><a th:href="@{/spendingpatterns/averagehealthyspending}">Type of spending compared to averages</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <svg class="bi bi-diamond" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.1 2.7a.5.5 0 01.4-.2h9a.5.5 0 01.4.2l2.976 3.974c.149.185.156.45.01.644L10.4 17.3a.5.5 0 01-.8 0l-7.5-10a.5.5 0 010-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H6.186l.963 2.995 5.704-.006zM7.47 7.495l5.062-.005L10 15.366 7.47 7.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM3.499 7.5l2.92-.003 2.193 6.82L3.5 7.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z" clip-rule="evenodd"></path>
                </svg>
                <h4>Financial assets</h4><br />
                <p>How you save your money.</p><p> Keeping your money in a variety of suitable financial products can give you peace of mind.</p>
                <ul style="text-align:left; padding-left:70px">
                    <li><a href="#">Amount of savings contributed</a></li>
                    <li><a href="#">Your total assets</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>
